*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .btn{
  position: relative;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: deeppink;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease-in-out;
  box-shadow: 2px 5px 15px #c50d66;
}

.wrapper .btn i{
  font-size: 2rem;
  color: white;
}

.wrapper span{
  margin-top: 10px;
}


.wrapper .btn.active{
  box-shadow: 0 0 0 150vh deeppink;
}

strong{
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  color: white;
  cursor: pointer;
}

video{
  position: absolute;
  width: 60%;
  height: 80%;
  transition: all 1s ease-in-out;
  display: none;
  border: 5px solid white;
}